@{
    Layout = "_layout";
}
<title>Job Packages - Outsourcy</title>

<!--Page Title-->
<section class="page-title">
    <div class="auto-container">
        <div class="title-outer">
            <h1>Pricing</h1>
            <ul class="page-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Pricing</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- About Section -->
<section id="section-2" class="about-section-two style-two layout-pt-60 layout-pb-40 js-tab-menu-content">
    <div class="auto-container">
        <div class="row grid-base align-items-center">
            <!-- Image Column -->
            <div class="image-column  col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-5 wow fadeInRight">
                <figure class="image-box"><img src="~/images/section/online-recruiting.jpg" alt=""></figure>
            </div>
            <!-- Content Column -->
            <div class="content-column col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                <div class="wow fadeInLeft">
                    <div class="sec-title">
                        <h2 class="fw-700">OVERVIEW</h2>
                        <div class="text mt-30  fs-6 mw-100">
                            Interviewing every single applicant that arrives in your inbox is impossible,
                            and too often,
                            recruiters and hiring
                            managers to waste valuable time and money trying to assess and whittle down a
                            large
                            applicant pool.
                        </div>
                        <p class="text mt-2 fw-700 text-primary mw-100">
                            No Hassle & double efforts anymore!
                        </p>
                        <div class="text mt-30  fs-6 mw-100">
                            Interviewing every single applicant that arrives in your inbox is impossible,
                            and too often,
                            recruiters and hiring
                            managers to waste valuable time and money trying to assess and whittle down a
                            large
                            applicant pool.
                        </div>
                    </div>
                    <div class="d-flex w-75 align-items-center justify-content-between">
                        <a asp-controller="Pages"asp-action="Contact" class="theme-btn btn-style-one">Contact Us know</a>
                        <a asp-controller="Job" asp-action="JobSubscribe" class="theme-btn btn-style-one">Get a free Quotation</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End About Section -->
<!-- Call To Action Two -->
<section class="call-to-action-two" style="background-image: url(/images/background/1.jpg);">
    <div class="auto-container wow fadeInUp">
        <div class="sec-title light text-center">
            <h2>Join us & Hire Talent</h2>
            <div class="text">Your Dream Jobs Are Waiting</div>
        </div>

        <div class="btn-box">
            <a href="#" class="theme-btn btn-style-three">Search Job</a>
            <a href="#" class="theme-btn btn-style-two">Get a Free Trail</a>
        </div>
    </div>
</section>
<!-- End Call To Action -->
<!-- About Section -->
<section id="section-2" class="about-section-two style-two layout-pt-60 layout-pb-40 js-tab-menu-content">
    <div class="auto-container">
        <div class="row grid-base align-items-center">
            <!-- Content Column -->
            <div class="content-column col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                <div class="wow fadeInLeft">
                    <div class="sec-title">
                        <h2 class="fw-700">OUR SOLUTIONS</h2>
                        <div class="text mt-30  fs-6 mw-100">
                            <b>Our Online recruitment SOLUTION</b>
                            is a way to provide businesses with an efficient and cheaper way to fill
                            positions BY using our company website, online
                            advertisements, job listings, social media, and other means on the internet &
                            our database to find and hire suitable
                            employees for your vacant position.
                        </div>

                        <div class="text mt-30  fs-6 mw-100">
                            OUTSOURCY has an unmatched selection of pre-written job descriptions, and job
                            adverts are posted to a wide network of
                            sites. OUTSOURCY ranks candidates so you can quickly see who looks suitable for
                            your open position, and you can search
                            the site’s database of users with reasonable filtering options.
                        </div>
                        <div class="text mt-30  fs-6 mw-100">
                            OUTSOURCY allows recruitment staff to highlight unique attributes and benefits
                            on their job adverts, and you can
                            automate follow-up messages and add employer branding to your adverts and
                            company profile.
                            OUTSOURCY will provide you with a recruitment consultant to help in each step of
                            the process.
                        </div>
                    </div>

                </div>
            </div>
            <!-- Image Column -->
            <div class="image-column  col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-5 wow fadeInRight">
                <figure class="image-box"><img src="~/images/section/our-solution.jpg" alt=""></figure>
            </div>


        </div>
    </div>
</section>
<!-- End About Section -->
<!-- Subscribe Section -->
<section class="subscribe-section -type-2">
    <div class="auto-container">
        <div class="outer-box wow fadeInUp">
            <div class="sec-title mb-0">
                <h2>Subscribe Our Newsletter</h2>
                <div class="text">
                    Advertise your jobs to thousands of monthly users and search
                </div>
            </div>

            <div class="form-column md:mt-20">
                <div class="subscribe-form">
                    <form method="post" action="#">
                        <div class="form-group">
                            <div class="response"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="email" value=""
                                   placeholder="Your e-mail" required>
                            <button type="button" id="subscribe-newslatters"
                                    class="theme-btn btn-style-seven">
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Section -->
<!--Benefits  Section-->
<section class="clients-section">
    <div class="sponsors-outer">
        <!--Sponsors Carousel-->
        <ul class="sponsors-carousel owl-carousel owl-theme">
            <li class="slide-item">
                <figure class="image-box">
                    <a href="#">
                        <img src="~/images/section/our-sourcy-online.png"
                             alt="">
                    </a>
                </figure>
                <p class=" text-center w-100 my-2">
                    OUTSOURCY Online
                    Recruitment Tool Helps You Hire
                    Better Candidates Faster.
                </p>
            </li>
            <li class="slide-item">
                <figure class="image-box">
                    <a href="#"><img src="~/images/section/avoid-hssla.png" alt=""></a>
                </figure>
                <p class=" text-center w-100 my-2">
                    Avoid Hassle And Time-
                    Consuming Of Posting Jobs,
                    Choose From A Wider Pool Of
                    Updated Pre-Screened Resumes.
                </p>
            </li>
            <li class="slide-item">
                <figure class="image-box">
                    <a href="#">
                        <img src="~/images/section/promote-youre.png"
                             alt="">
                    </a>
                </figure>
                <p class=" text-center w-100 my-2">
                    Promote Your Employer's Brand
                    By Posting Your Job In Multiple
                    Social Media Platforms.
                </p>
            </li>
            <li class="slide-item">
                <figure class="image-box">
                    <a href="#">
                        <img src="~/images/section/out-sourcy-req.png"
                             alt="">
                    </a>
                </figure>
                <p class=" text-center w-100 my-2">
                    OUTSOURCY Online
                    Recruitment Tool Helps You
                    Increases Hiring Efficiency
                </p>
            </li>
            <li class="slide-item">
                <figure class="image-box">
                    <a href="#"><img src="~/images/section/save-mony.png" alt=""></a>
                </figure>
                <p class=" text-center w-100 my-2">
                    Save Money, With OUTSOURCY,
                    You ONLY Pay For The Agreed
                    Package With No Time Frame &
                    And Do Not Have A Specific
                    Expiry Time.
                </p>
            </li>
            <li class="slide-item">
                <figure class="image-box">
                    <a href="#">
                        <img src="~/images/section/priicing-mony.png"
                             alt="">
                    </a>
                </figure>
                <p class=" text-center w-100 my-2">
                    Pricing Policy & Money Back
                    Guarantee.
                </p>
            </li>

        </ul>
    </div>
</section>
<!-- End Benefits Section-->
<!-- Faqs Section -->
<section class="faqs-section bg-primary bg-gradient ">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2 class="text-white">Frequently Asked Questions (FAQ)</h2>

        </div>


        <!--Accordian Box-->
        <ul class="accordion-box">
            <!--Block-->
            <li class="accordion block active-block">
                <div class="acc-btn active">
                    How can I get the ervice? <span class="icon flaticon-add"></span>
                </div>
                <div class="acc-content current">
                    <div class="content">
                        <p>A- Determine your Hiring needs</p>
                        <p>B- Get your free trial</p>
                        <p>C- Create your company profile</p>
                        <p>D- Post your job and find your talent</p>
                    </div>
                </div>
            </li>

            <!--Block-->
            <li class="accordion block">
                <div class="acc-btn">
                    What happens at the end of my free trial? <span class="icon flaticon-add"></span>
                </div>
                <div class="acc-content">
                    <div class="content">
                        <p>
                            At the end of your free trial, you have to choose your package & billing option
                            and start your next hiring journey.
                        </p>
                    </div>
                </div>
            </li>

            <!--Block-->
            <li class="accordion block">
                <div class="acc-btn">
                    How are the profile view & jobs post limits calculated? <span class="icon flaticon-add"></span>
                </div>
                <div class="acc-content">
                    <div class="content">
                        <p>
                            Profile views count how many job seekers or CVs you view. CV Unlocks count the
                            number of candidates you need to contact.
                            If you view a job seeker’s profile without his contact information, he will be
                            counted as a CV view but not as an
                            unlock.
                        </p>
                        <p>
                            Once you reach your CV unlock limit, you may be able to view profiles from CV
                            search and job applicants but will not be
                            able to see their contact details. Once you reach your job post limit you will
                            not be able to post new jobs but will
                            still be able to search if you still have Profile views remaining. Once Profile
                            views or Job Posting credits finish, you
                            will need to purchase a new hiring package.
                        </p>
                    </div>
                </div>
            </li>

            <!--Block-->
            <li class="accordion block">
                <div class="acc-btn">
                    Can I change or cancel my plan later on? <span class="icon flaticon-add"></span>
                </div>
                <div class="acc-content">
                    <div class="content">
                        <p>
                            Yes. You can upgrade or cancel anytime from your settings page. When you cancel,
                            you will lose your package features at
                            the end of your billing cycle. Be sure you use all your features before the
                            cancellation goes into effect.
                        </p>

                    </div>
                </div>
            </li>

            <!--Block-->
            <li class="accordion block">
                <div class="acc-btn">How will you bill me? <span class="icon flaticon-add"></span></div>
                <div class="acc-content">
                    <div class="content">
                        <p>
                            We offer Long term package with no time frame or monthly billing, your membership
                            will be renewed at the end of each
                            Package’s features.
                        </p>

                    </div>
                </div>
            </li>
            <!--Block-->
            <li class="accordion block">
                <div class="acc-btn">
                    What are your cancelation and refund policy? <span class="icon flaticon-add"></span>
                </div>
                <div class="acc-content">
                    <div class="content">
                        <p>*Cancellation requests:</p>
                        <p>
                            may be submitted by phone, email, or in person. If you have any questions or
                            concerns about our cancellation policy,
                            please contact us at (PHONE NUMBER)
                        </p>
                        <p>
                            -Refund Request
                        </p>
                        <p>
                            OUTSOURCY offers the highest degrees of quality when it comes to customer care.
                            While OUTSOURCY maintains one of the
                            highest customer satisfaction, OUTSOURCY Money Back Guarantee ensures that each
                            customer stands to receive top-quality
                            service along with a complete 100% money refund.
                        </p>
                        <p>
                            Every Customer is applicable to use the OUTSOURCY Money Back Guarantee for all
                            posting and search services in the
                            following cases:
                        </p>
                        <p>
                            – Talent Search: in the case customer did not find the number of professionals
                            he/she is looking for according to the
                            chosen package.
                        </p>
                        <p>
                            – Job Postings: in the case customer could not hire qualified candidates by the
                            end of the job posting (maximum 2
                            candidates per job post).
                        </p>
                        <p>
                            OUTSOURCY Money Back Guarantee cannot be claimed before the expiration date of
                            the purchased service or package. And
                            OUTSOURCY will endeavor to satisfy the needs of its customers until the last day
                            of the package.
                        </p>
                        <p>
                            If you want to claim OUTSOURCY Money Back Guarantee, please directly message
                            contact@out-sourcy.com, OUTSOURCY welcomes
                            all your feedback and recommendations.
                        </p>
                        <p>
                            -If the refund request is accepted the full paid amount will be recovered to
                            your account in 14 working days.
                        </p>

                    </div>
                </div>
            </li>
        </ul>



    </div>
</section>
<!-- End Faqs Section -->
<!-- Pricing Sectioin -->
<section class="pricing-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h1>Benefits & Key Advantages</h1>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive w-100 table_pricing">
                    <div class="acte ct-style-2">
                        <ul>
                            <li class="ct-product-heading ct-product-1 active">Free Trial</li>
                            <li class="ct-product-heading ct-product-2">Basic</li>
                            <li class="ct-product-heading ct-product-3">Silver</li>
                            <li class="ct-product-heading ct-product-4">Gold</li>
                            <li class="ct-product-heading ct-product-5">platinum</li>
                        </ul>
                        <table class="table">
                            <tbody>
                                <tr class="ct-header">
                                    <td class="ct-features-heading">Pricing</td>
                                    <td class="ct-product-heading ct-product-1">
                                        <div class="ct-price ct-product-1">
                                            <div class="ct-feature ct-product-price">Free</div>
                                        </div>
                                        <div class="ct-product-title">Free Trial</div>
                                    </td>
                                    <td class="ct-product-heading ct-product-2">
                                        <div class="ct-price ct-product-2">
                                            <div class="ct-feature ct-product-price">EGP 2,199 </div>
                                        </div>
                                        <div class="ct-product-title">Basic</div>
                                    </td>
                                    <td class="ct-product-heading ct-product-3">
                                        <div class="ct-price ct-product-3">
                                            <div class="ct-feature ct-product-price">EGP 3,699</div>
                                        </div>
                                        <div class="ct-product-title">Silver</div>
                                    </td>
                                    <td class="ct-product-heading ct-product-4">
                                        <div class="ct-price ct-product-4">
                                            <div class="ct-feature ct-product-price">EGP 7,399</div>
                                        </div>
                                        <div class="ct-product-title">Gold</div>
                                    </td>
                                    <td class="ct-product-heading ct-product-5">
                                        <div class="ct-price ct-product-5">
                                            <div class="ct-feature ct-product-price">EGP 9,999</div>
                                        </div>
                                        <div class="ct-product-title">platinum</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ct-feature-heading">Job Posting</td>
                                    <td class="ct-feature ct-product-1">2</td>
                                    <td class="ct-feature ct-product-2">3</td>
                                    <td class="ct-feature ct-product-3">5</td>
                                    <td class="ct-feature ct-product-4">12</td>
                                    <td class="ct-feature ct-product-5">20</td>
                                </tr>
                                <tr>
                                    <td class="ct-feature-heading">CV view</td>
                                    <td class="ct-feature ct-product-1">Unlimited</td>
                                    <td class="ct-feature ct-product-2">Unlimited</td>
                                    <td class="ct-feature ct-product-3">Unlimited</td>
                                    <td class="ct-feature ct-product-4">Unlimited</td>
                                    <td class="ct-feature ct-product-5">Unlimited</td>
                                </tr>
                                <tr>
                                    <td class="ct-feature-heading">Job displayed</td>
                                    <td class="ct-feature ct-product-1">14 Days</td>
                                    <td class="ct-feature ct-product-2">3 Months</td>
                                    <td class="ct-feature ct-product-3">6 Months</td>
                                    <td class="ct-feature ct-product-4">9 Months</td>
                                    <td class="ct-feature ct-product-5">No Time frame</td>
                                </tr>
                                <tr>
                                    <td class="ct-feature-heading">Unlocks</td>
                                    <td class="ct-feature ct-product-1">10</td>
                                    <td class="ct-feature ct-product-2">30</td>
                                    <td class="ct-feature ct-product-3">70</td>
                                    <td class="ct-feature ct-product-4">150</td>
                                    <td class="ct-feature ct-product-5">250</td>
                                </tr>
                                <tr>
                                    <td class="ct-feature-heading">Benefit social recruitment</td>
                                    <td class="ct-feature ct-product-1">
                                        <i class="ct-mark-no flaticon-close-1"></i>
                                    </td>
                                    <td class="ct-feature ct-product-2">
                                        <i class="ct-mark-yes fa fa-check"></i>
                                    </td>
                                    <td class="ct-feature ct-product-3">
                                        <i class="ct-mark-yes fa fa-check"></i>
                                    </td>
                                    <td class="ct-feature ct-product-4">
                                        <i class="ct-mark-yes fa fa-check"></i>
                                    </td>
                                    <td class="ct-feature ct-product-5">
                                        <i class="ct-mark-yes fa fa-check"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ct-blank-heading"></td>
                                    <td class="ct-feature-button ct-product-1">
                                        <a class=" theme-btn btn-style-one"
                                           href="job-subscribe.html"
                                           target="_self" rel="nofollow">
                                            Subscribe
                                            Now
                                        </a>

                                    </td>
                                    <td class="ct-feature-button ct-product-2">
                                        <a class="theme-btn btn-style-one"
                                           href="job-subscribe.html"
                                           target="_self" rel="nofollow">
                                            Subscribe
                                            Now
                                        </a>

                                    </td>
                                    <td class="ct-feature-button ct-product-3">
                                        <a class="theme-btn btn-style-one"
                                           href="job-subscribe.html"
                                           target="_self" rel="nofollow">
                                            Subscribe
                                            Now
                                        </a>

                                    </td>
                                    <td class="ct-feature-button ct-product-4">
                                        <a class="theme-btn btn-style-one"
                                           href="job-subscribe.html"
                                           target="_self" rel="nofollow">
                                            Subscribe
                                            Now
                                        </a>

                                    </td>
                                    <td class="ct-feature-button ct-product-5">
                                        <a class="theme-btn btn-style-one"
                                           href="job-subscribe.html"
                                           target="_self" rel="nofollow">
                                            Subscribe
                                            Now
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pricing Sectioin -->
