@{
    Layout = "_layout";
}
<title>Job Subscribe - Outsourcy</title>
        <!--Page Title-->
        <section class="page-title">
            <div class="auto-container">
                <div class="title-outer">
                    <h1>Shop</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="pricing-package.html">Jobs Packages</a></li>
                        <li>Free Trial</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->
        <!-- Shop Single -->
        <section class="shop-single">
            <div class="auto-container">
                <!-- Product Detail -->
                <div class="product-details">
                    <!--Basic Details-->
                    <div class="basic-details">
                        <div class="row clearfix">
                            <div class="image-column col-md-6 col-sm-12">
                                <figure class="image">
                                    <a href="~/images/resource/product01.png" class="lightbox-image"
                                       title="Image Caption Here">
                                        <img src="~/images/resource/product01.png"
                                             alt=""><span class="icon flaticon-magnifying-glass"></span>
                                    </a>
                                </figure>
                            </div>
                            <div class="info-column col-md-6 col-sm-12">
                                <div class="inner-column">
                                    <h4 class="product-name">Free Trial</h4>
                                    <ul class="list-style-one ">
                                        <!-- Can you use and write class as "list-style-one or two or three or four " -->
                                        <li>2 job posting</li>
                                        <li>CV view >> (unlimited)</li>
                                        <li>Job displayed for 14 days</li>
                                    </ul>
                                    <div class="item-price">EGP 0.00 </div>

                                    <div class="other-options">

                                        <div class="btn-box">

                                            <a href="cart.html" class="theme-btn btn-style-one">Subscribe Now</a>
                                        </div>
                                    </div>

                                    <ul class="product-meta">
                                        <li><span>Category:</span> Jobs Packages</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Basic Details-->
                    <!--Product Info Tabs-->
                    <div class="product-info-tabs">
                        <!--Product Tabs-->
                        <div class="prod-tabs tabs-box">

                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#prod-details" class="tab-btn active-btn">Description</li>
                                <li data-tab="#prod-reviews" class="tab-btn">Review (1)</li>
                            </ul>

                            <!--Tabs Container-->
                            <div class="tabs-content">

                                <!--Tab-->
                                <div class="tab active-tab" id="prod-details">

                                    <div class="content">
                                        <h4>Details</h4>
                                        <ul class="list-style-one ">
                                            <!-- Can you use and write class as "list-style-one or two or three or four " -->
                                            <li>2 job posting</li>
                                            <li>CV view >> (unlimited)</li>
                                            <li>Job displayed for 14 days</li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="prod-reviews">

                                    <div class="content">
                                        <!-- Comments area -->
                                        <div class="comments-area">
                                            <!-- Comment Box -->
                                            <div class="comment-box">
                                                <h4>Comment</h4>
                                                <!-- Comment -->

                                            </div>

                                            <div class="comment-box">
                                                <!-- Comment -->
                                                <div class="comment">
                                                    <div class="user-thumb">
                                                        <img src="~/images/resource/company-logo/1-1.png" alt="">
                                                    </div>
                                                    <div class="comment-info">
                                                        <div class="user-name">Alex Morgan</div>
                                                        <div class="title">Beautiful courses</div>
                                                        <div class="rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="text">
                                                        Far much that one rank beheld bluebird after outside
                                                        ignobly allegedly more when oh arrogantly vehement tantaneously eel
                                                        valiantly petted this along across highhandedly much.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Comment Form -->
                                        <div class="comment-form default-form">
                                            <h4>Be the first to review “Free Trial”</h4>
                                            <form>
                                                <div class="row clearfix">

                                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                        <label>Name</label>
                                                        <input type="text" name="username" placeholder="Name" required>
                                                    </div>
                                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                        <label>Email</label>
                                                        <input type="email" name="email" placeholder="Email" required>
                                                    </div>
                                                    <div class="col-12 form-group">
                                                        <input type="checkbox" name="accepted" id="accepted" required>
                                                        <label for="accepted">Save my name, email, and website in this browser for the next time I comment.</label>

                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                        <label>Your Ratinge</label>
                                                        <div class="rating-box col-lg-12 col-md-12 col-sm-12 form-group">
                                                            <div class="rating">
                                                                <a href="#"><span class="fa fa-star"></span></a>
                                                                <a href="#"><span class="fa fa-star"></span></a>
                                                                <a href="#"><span class="fa fa-star"></span></a>
                                                                <a href="#"><span class="fa fa-star"></span></a>
                                                                <a href="#"><span class="fa fa-star"></span></a>
                                                            </div>
                                                        </div>
                                                        <textarea name="message" placeholder="Message"></textarea>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                        <button class="theme-btn btn-style-one" type="submit"
                                                                name="submit-form">
                                                            Submit Review
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!--End Comment Form -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Product Info Tabs-->
                </div>
            </div>
        </section>
        <!-- End Shop Single -->
        <!-- Main Footer -->
    @section Scripts{

    <script src="~/js/jquery-ui.min.js"></script>
    }   
    