@{
    Layout = "_layout";
}
<title>Our Industries - Outsourcy</title>

        <!-- Banner Section Three-->
        <section class="banner-section-three layout-pt-40 -type-17" style="background-image:url('~/images/index-17/header/bg.png');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="content-column col-lg-7 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="title-box wow fadeInUp">
                                <h3 class="text-primary fw-700">Our Industries</h3>
                                <div class="text text-white">
                                    In the current competing & challenges in the business environment, we realized that our clients need to be supported by
                                    professional Staffing, Outsourcing, and HR Service providers that speak the same industry language.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="image-column col-lg-5 col-md-12">
                        <div class="image-box mx-0">
                            <figure class="main-image wow fadeInRight" data-wow-delay="1500ms">
                                <img src="~/images/background/maintenance.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Banner Section Three-->
        <!-- Features Section-->
        <section class="features__section">
            <div class="auto-container">
                <div class="row features__grid justify-content-between">

                    <div class="col-lg-3 col-md-6">
                        <div class="features -type-1">
                            <div class="icon-wrap">
                                <div class="icon icon-case"></div>
                            </div>
                            <div class="title">Register an account to start</div>
                        </div>
                    </div>


                    <div class="col-lg-auto features-line-col">
                        <div class="features-line"></div>
                    </div>


                    <div class="col-lg-3 col-md-6">
                        <div class="features -type-1">
                            <div class="icon-wrap">
                                <div class="icon icon-contact"></div>
                            </div>
                            <div class="title">Explore over thousands of resumes</div>
                        </div>
                    </div>


                    <div class="col-lg-auto features-line-col">
                        <div class="features-line"></div>
                    </div>


                    <div class="col-lg-3 col-md-6">
                        <div class="features -type-1">
                            <div class="icon-wrap">
                                <div class="icon icon-doc"></div>
                            </div>
                            <div class="title">Find the most suitable candidate</div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!-- End Features Section-->
        <!-- Industries Section -->
        <section class="layout-pt-60 layout-pb-60 testimonial-section style-two">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title text-center  mb-4">
                    <h2 class="fs-1 fw-700">Industries</h2>

                </div>

                <div class="row grid-base">
                    <!-- item -->
                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="step-item text-center">
                            <div class="image">
                                <img src="~/images/section/information-technology.jpg" alt="image">
                            </div>
                            <h3 class="title">Tech / information technology</h3>
                            <p class="text">Recruitment in the technology and engineering industry is more complex than in other sectors.</p>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="step-item text-center">
                            <div class="image">
                                <img src="~/images/section/E-commerce.jpg" alt="image">
                            </div>
                            <h3 class="title">E-commerce & Digital</h3>
                            <p class="text">
                                After the rush of digitization due to the COVID-19 outbreak, recruiting for the e-commerce industry has become a
                                challenge.
                            </p>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="step-item text-center">
                            <div class="image">
                                <img src="~/images/section/Logistics.jpg" alt="image">
                            </div>
                            <h3 class="title">
                                Logistics & Supply Chain

                            </h3>
                            <p class="text">
                                Developmental trends in the modern economy require a new approach to resource management through logistics and supply
                                chain optimization.
                            </p>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="step-item text-center">
                            <div class="image">
                                <img src="~/images/section/Healthcare.jpg" alt="image">
                            </div>
                            <h3 class="title">
                                Pharma & Healthcare

                            </h3>
                            <p class="text">Our growing healthcare and pharma talent pool means that you know exactly who to turn to for medical professionals</p>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="step-item text-center">
                            <div class="image">
                                <img src="~/images/section/Finance.jpg" alt="image">
                            </div>
                            <h3 class="title">
                                Banking & Finance
                            </h3>
                            <p class="text">In this technology-driven world, hiring in the banking and financial industry has changed a lot within just a few years.</p>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="step-item text-center">
                            <div class="image">
                                <img src="~/images/section/Consumer.jpg" alt="image">
                            </div>
                            <h3 class="title">
                                Retail & Consumer
                            </h3>
                            <p class="text">
                                With affordable pricing and increased disposable incomes, the retail industry has witnessed massive growth in the last
                                couple of years.
                            </p>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="step-item text-center">
                            <div class="image">
                                <img src="~/images/section/Automotive.jpg" alt="image">
                            </div>
                            <h3 class="title">
                                Aviation & Automotive

                            </h3>Running aviation or automotive company requires a skilled and highly efficient workforce in this competitive era.</p>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="step-item text-center">
                            <div class="image">
                                <img src="~/images/section/Energy.jpg" alt="image">
                            </div>
                            <h3 class="title">
                                Energy & Oil

                            </h3>
                            <p class="text">
                                When it comes to the energy and oil sector, the process of conceptualizing, planning, and managing projects requires the
                                skills and experience of highly...
                            </p>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="step-item text-center">
                            <div class="image">
                                <img src="~/images/section/network.jpg" alt="image">
                            </div>
                            <h3 class="title">Telecom & Network</h3>
                            <p class="text">
                                The Telecom industry continues to face numerous workplace management and compliance challenges under the changing laws
                                globally.
                            </p>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="step-item text-center">
                            <div class="image">
                                <img src="~/images/section/training.jpg" alt="image">
                            </div>
                            <h3 class="title">
                                Education& training
                            </h3>
                            <p class="text">Our growing healthcare and pharma talent pool means that you know exactly who to turn to for medical professionals</p>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="step-item text-center">
                            <div class="image">
                                <img src="~/images/section/HOSPITALITY.jpg" alt="image">
                            </div>
                            <h3 class="title">
                                HOSPITALITY & catering

                            </h3>
                            <p class="text">Click edit button to change this text. Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="step-item text-center">
                            <div class="image">
                                <img src="~/images/section/CONSTRUCTION.jpg" alt="image">
                            </div>
                            <h3 class="title">
                                ENGINEERING & CONSTRUCTION
                            </h3>
                            <p class="text">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Industries Section -->
        <!-- Request Qute Section -->
        <section id="section-2" class="about-section-two style-two layout-pt-40 layout-pb-40  ">
            <div class="auto-container">
                <div class="row grid-base align-items-center">
                    <!-- Image Column -->
                    <div class="image-column -no-margin col-xl-5 col-lg-5 col-md-12 col-sm-12 wow fadeInRight">
                        <figure class="image-box"><img src="~/images/section/req-quote.jpg" alt=""></figure>
                    </div>

                    <!-- Content Column -->
                    <div class="content-column mb-0 col-xl-7  col-lg-7  col-md-12 col-sm-12">
                        <div class="wow fadeInLeft">
                            <div class="sec-title">
                                <h3 class="text-dark fw-700 text-primary">HOW WE HELP YOUR BUSINESS?</h3>
                                <form method="post" action="" class="default-form mt-4">
                                    <div class="row">
                                        <!--Form Group-->
                                        <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                            <div class="field-label">Your Full Name<sup>*</sup></div>
                                            <input type="text" name="field-full-name" value="" placeholder="Your Full Name" required>
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                            <div class="field-label">Phone <sup>*</sup></div>
                                            <input type="text" name="field-phone" value="" placeholder=" Phone" required>
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <div class="field-label">Email <sup>*</sup></div>
                                            <input type="email" name="field-name" value="" placeholder="Email">
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <div class="field-label">Services <sup>*</sup></div>
                                            <select name="field-services" class="select2 sortby-select" autocomplete="Services" required>
                                                <option value="">Select a country&hellip;</option>
                                                <option value="Choose your service">Choose your service</option>
                                                <option value="01 Recruiting / Staffing Service">01 Recruiting / Staffing Service</option>
                                                <option value="02 PEO (Professional Employer Organization)">02 PEO (Professional Employer Organization)</option>
                                                <option value="03 Payroll &amp; Personnel Outsourcing">03 Payroll &amp; Personnel Outsourcing</option>
                                                <option value="04 EOR (Employer of Recording)">04 EOR (Employer of Recording)</option>
                                                <option value="05 Manpower Outsourcing - Short &amp; Long term Staffing">
                                                    05 Manpower Outsourcing - Short &amp; Long term
                                                    Staffing
                                                </option>
                                                <option value="06 OBO (Offshore &amp; Back-office Outsourcing Solutions)">
                                                    06 OBO (Offshore &amp; Back-office Outsourcing
                                                    Solutions)
                                                </option>
                                                <option value="07 Mass Hiring / Volume Staffing">07 Mass Hiring / Volume Staffing</option>
                                                <option value="08 CV Leads &amp; Executive Search">08 CV Leads &amp; Executive Search</option>
                                                <option value="09 HR CONSULTANCY SERVICE">09 HR CONSULTANCY SERVICE</option>

                                            </select>
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">

                                            <div class="field-label">Message</div>
                                            <textarea rows="5" class="" placeholder="your request details " readonly> </textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="d-block w-100 theme-btn btn-style-one mt-3">Send</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End  Request Qute Section -->
        <!--Clients Section-->
        <section class="clients-section-two">
            <div class="sec-title text-center mb-2">
                <h1>Our Featured </h1>

            </div>
            <div class="sponsors-outer wow fadeInUp">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#"><img src="~/images/clients/clients (1).jpeg" alt=""></a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#"><img src="~/images/clients/clients (2).jpeg" alt=""></a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#"><img src="~/images/clients/clients (3).jpeg" alt=""></a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#"><img src="~/images/clients/clients (4).jpeg" alt=""></a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#"><img src="~/images/clients/clients (5).jpeg" alt=""></a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#"><img src="~/images/clients/clients (6).jpeg" alt=""></a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#"><img src="~/images/clients/clients (7).jpeg" alt=""></a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#"><img src="~/images/clients/clients (8).jpeg" alt=""></a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#"><img src="~/images/clients/clients (9).jpeg" alt=""></a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (10).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (11).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (12).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (13).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (14).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (15).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (16).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (17).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (18).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (19).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (20).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (21).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (22).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (23).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (24).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (25).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (26).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (27).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (28).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (29).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (30).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (31).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>
                    <!-- item -->
                    <li class="slide-item">
                        <figure class="image-box">
                            <a href="#">
                                <img src="~/images/clients/clients (32).jpeg"
                                     alt="">
                            </a>
                        </figure>
                    </li>

                </ul>
            </div>
        </section>
        <!-- End Clients Section-->
