@model List<SuccessStories>
@{
    Layout = "_layout";
}
<title>Success Stories - Outsourcy</title>
<!--Page Title-->
<section class="page-title">
    <div class="auto-container">
        <div class="title-outer">
            <h1>Success Stories</h1>
            <ul class="page-breadcrumb">
                <li><a href="/Home/Index">Home</a></li>
                <li>Success Stories</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Success Stories Section -->
<section class="layout-pt-40 layout-pb-40 style-two">
    <div class="auto-container">
        <div class="row row-cols-1 row-cols-sm-12 row-cols-md-6 row-cols-lg-3 row-cols-xxl-3">
            <!--  Block -->
            @foreach (var story in Model)
            {
                <div class="work-block  mb-2  col">
                    <div class="inner-box  py-4">
                        <figure class="image"><img src="@string.Format("/Uploads/Images/{0}",story.imgUrl)" alt=""></figure>
                        <h4 class="lh-sm">
                            <a href="#" class="text-dark">
                              @story.title
                            </a>
                        </h4>
                        <p class="text-start mt-3">
                            @story.shortDescription
                        </p>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
<!-- End Success Stories  Section -->
<!-- Main Footer -->
@section Scripts {
    <script src="~/js/jquery-ui.min.js"></script>

   }