@{
    Layout = "_Dashboardlayout";
}

<!-- Sidebar Backdrop -->
<div class="sidebar-backdrop"></div>

<!-- User Sidebar -->
<div class="user-sidebar">

    <div class="sidebar-inner">
        <div class="w-100 d-flex align-items-center justify-content-star gap-4">
            <img src="~/images/candidate/candidate-user.png" alt="avatar" class="thumb shadow  rounded-circle"
                 width="40">
            <div class="flex-fill">
                <a href="employer-profile.html" target="_blank" class=" btn-link">My Account</a>
                <a href="employer-profile.html" target="_blank" class="theme-btn  btn-style-one small">
                    View
                    Profile
                </a>
            </div>

        </div>
        <hr class="my-2">
        <ul class="navigation">
            <li>
                <a href="employer-dashboard.html">
                    <i class="flaticon-book"></i> User
                    Dashboard
                </a>
            </li>
            <li>
                <a href="employer-dashboard-profile.html"><i class="flaticon-businessman"></i>Profile</a>
            </li>
            <li><a href="dashboard-manage-job.html"><i class="flaticon-briefcase-1"></i>My Jobs </a></li>
            <li><a href="submit-job.html"><i class="flaticon-pen"></i> Submit Job </a></li>
            <li><a href="applicants-jobs.html"><i class="flaticon-megaphone"></i> Applicants Jobs</a></li>
            <li>
                <a href="shortlist-employer.html"><i class="flaticon-bookmark"></i>Shortlist Candidate </a>
            </li>
            <li><a href="candidate-alerts.html"><i class="flaticon-research"></i> Candidate Alerts </a></li>
            <li>
                <a href="dashboard-packages.html">
                    <i class="flaticon-package"></i>Packages
                </a>
            </li>
            <li><a href=""><i class="flaticon-chat"></i>Messages</a></li>
            <li class="active"><a href="change-password.html"><i class="flaticon-password"></i> Change Password</a></li>
            <li><a href=""><i class="flaticon-trash"></i>Delete Profile</a></li>
            <li><a href=""><i class=" las la-power-off"></i>Logout</a></li>
        </ul>
    </div>
</div>
<!-- End User Sidebar -->
<!-- Dashboard -->
<section class="user-dashboard">
    <div class="dashboard-outer">
        <div class="upper-title-box">
            <h3>Change Password</h3>

        </div>

        <!-- Ls widget -->
        <div class="ls-widget">
            <div class="widget-title">
            </div>

            <div class="widget-content">
                <form class="default-form">
                    <div class="row">
                        <!-- Input -->
                        <div class="form-group col-lg-8 col-md-12">
                            <label>Old Password </label>
                            <input type="password" name="name" placeholder="" required>
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-8 col-md-12">
                            <label>New Password</label>
                            <input type="password" name="name" placeholder="" required>
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-8 col-md-12">
                            <label>Confirm Password</label>
                            <input type="password" name="name" placeholder="" required>
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                            <button type="submit" class="theme-btn btn-style-one">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
